

body {
    margin: 0;
    padding: 20px;
    background: linear-gradient(135deg, #87CEEB 0%, #98FB98 100%);
    min-height: 100vh;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
        }

.container {
	/*width: 100%;
	min-height: 100vh;
	background: linear-gradient(135deg, #4203a9, #90bafc);
	color: #fff;
	padding: 10px;*/

	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: relative;
    position: relative;
}

.calculator{
	/*width: 50%;
	max-height: 600px;
	margin-left: 10%;
	margin-top: 10%;*/

	align-items: center;
}

.calculator h1 {
	font-size: 32px;
	color: black;
}

.calculator h1 span {
	color: #E61876;
}

.input-box {
	margin: auto;
	padding: 12px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.3);
	display: flex;
	align-items: center;
	width: 350px;
}


.input-box input{ 
	flex: 1;
	margin-right: 20px;
	padding: 12px 15px; 
	border: 0;
	outline: 0;
	font-size: 18px; 
	border-radius: 5px;
	position: relative;

}

.input-box input::-webkit-calendar-picker-indicator{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
	position: absolute;
	background-position: calc(100% - 10px);
	background-size: 30px;
	cursor: pointer;
}


#result{
	font-size: 23px;

}

#result span {
	color: #F54927;
}


/* copy paste par */

.bubbly-button {
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 14px;
    padding: 1em 2em;
    background-color: #ff0081;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform 0.1s ease-in, box-shadow 0.25s ease-in;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

.bubbly-button:focus {
    outline: 0;
}

.bubbly-button:before,
.bubbly-button:after {
    position: absolute;
    content: '';
    display: none;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all 0.5s ease-in-out;
    background-repeat: no-repeat;
}

.bubbly-button:before {
    top: -75%;
    background-image:
        radial-gradient(circle, #ff0081 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%),
        radial-gradient(circle, #ff0081 20%, transparent 20%),
        radial-gradient(circle, #ff0081 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
        radial-gradient(circle, #ff0081 20%, transparent 20%),
        radial-gradient(circle, #ff0081 20%, transparent 20%),
        radial-gradient(circle, #ff0081 20%, transparent 20%),
        radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.bubbly-button:after {
    bottom: -75%;
        background-image:
            radial-gradient(circle, #ff0081 20%, transparent 20%),
            radial-gradient(circle, #ff0081 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
            radial-gradient(circle, #ff0081 20%, transparent 20%),
            radial-gradient(circle, #ff0081 20%, transparent 20%),
            radial-gradient(circle, #ff0081 20%, transparent 20%),
            radial-gradient(circle, #ff0081 20%, transparent 20%);
        background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
    }

    .bubbly-button:active {
        transform: scale(0.9);
        background-color: #e6006b;
        box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    }

    .bubbly-button.animate:before {
        display: block;
        animation: topBubbles 0.75s ease-in-out forwards;
    }

    .bubbly-button.animate:after {
        display: block;
        animation: bottomBubbles 0.75s ease-in-out forwards;
    }

@keyframes topBubbles {
        0% {
            background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
        }
        50% {
            background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
        }
        100% {
            background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
            background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
        }
    }

    @keyframes bottomBubbles {
        0% {
            background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
        }
        50% {
            background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
        }
        100% {
            background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
            background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
        }
    }